
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Thông báo mật khẩu mới – Topmass.vn</title>
</head>

<body>
    <img src ="cid:imageLogo">
  <p>
    <span><b>Kính gửi:</b></span>
    <span style="color: rgb(56, 87, 35); font-weight: bold;">{fullName}</span>
  </p>
  <p style="margin-left: 20px;">Tài khoản của bạn trên trang topmass.vn đã được cập nhật lại mật khẩu mới
   
  </p>

  <p style="font-style: italic;margin-left: 10px;">Nếu cần hỗ trợ, vui lòng liên hệ:</p>
  <p style="margin-left: 30px; font-style: italic; "><span style="margin-right: 10px;">-</span> Email:
    <span style="color: #0000FF;">support@topmass.vn</span>
  </p>
  <p style="margin-left: 30px; font-style: italic; "><span style="margin-right: 10px;">-</span> Hotline:
    <b>1900 255 836</b>
  </p>
  <p>Topmass tự hào là đối tác đồng hành cùng Quý công ty trong hành trình tìm kiếm và phát triển nguồn nhân lực bền
    vững!</p>
  <p style="margin-left: 20px;">Trân trọng, </p>
  <p style="font-style: italic;">Để đảm bảo email không bị vào thư mục spam, vui lòng thêm <b
      style="color: rgb(56, 87, 35)">noreply@topmass.vn</b> vào
    danh bạ
    hoặc
  </p>
  <p style="font-style: italic;"> đánh dấu "Không phải thư quảng cáo".</p>
</body>

</html>


