<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Xác thực tài khoản nhà tuyển dụng</title>
</head>


<body>
<img src ="cid:imageLogo">
  <p>
    <span><b>Kính gửi:</b></span>
    <span style="color: rgb(56, 87, 35); font-weight: bold;">{fullName}</span>
  </p>
  <p style="margin-left: 20px;">Cảm ơn Quý Anh/Chị đã tin tưởng đăng ký tài khoản tuyển dụng trên
    <a href="https://topmass.vn"
      style="font-weight: bold; font-size: 15px; color: rgb(197, 89, 17); text-decoration: none;">Topmass.vn</a>.
  </p>
  <p>Vui lòng <a href="https://tuyendung.topmass.vn/xac-thuc-tai-khoan?code={code}" style="font-weight: bold; color: #0000FF;">click vào đây</a> để hoàn tất kích hoạt tài khoản
    hoặc sao chép liên kết sau đây vào trình duyệt: <a href="https://tuyendung.topmass.vn/xac-thuc-tai-khoan?code={code}"
      style="font-weight: bold; color: #0000FF;">https://tuyendung.topmass.vn/xac-thuc-tai-khoan?code={code}</a>
  </p>
  <p><b>Lưu ý:</b> Liên kết kích hoạt tài khoản có giá trị trong <b>7 ngày</b> kể từ ngày đăng ký.</p>
  <p style="font-style: italic;margin-left: 10px;">Nếu cần hỗ trợ, vui lòng liên hệ:</p>
  <p style="margin-left: 30px; font-style: italic; "><span style="margin-right: 10px;">-</span> Email:
    <span style="font-weight: bold; color: #0000FF;">support@topmass.vn</span>
  </p>
  <p style="margin-left: 30px; font-style: italic; "><span style="margin-right: 10px;">-</span> Hotline:
    <b>1900 255 836</b>
  </p>
  <p>Topmass tự hào là đối tác đồng hành cùng Quý công ty trong hành trình tìm kiếm và phát triển nguồn nhân lực bền
    vững!</p>
  <p style="margin-left: 20px;">Trân trọng, </p>
  <p style="font-style: italic;">
    Để đảm bảo email không bị vào thư mục spam, vui lòng thêm <b style="color: rgb(56, 87, 35);">noreply@topmass.vn</b> vào danh bạ hoặc </p>

<p style="font-style: italic;">
đánh dấu "Không phải thư quảng cáo".
</p>
</body>

</html>





