<div class="col-12 form-group">

    <label class="form-label"> @Model.Lable </label>
    <select name="@Model.Name"  class="multipleclass form-control" multiple="multiple" id ="categoryList"   aria-label="">
         <option selected value="2">Bí Quyết Tìm Việc</option>
            <option selected value="3">Thị Trường - Xu Hướng</option>
 @*             <option  value="4">Góc Thư Giãn</option> *@
            <option  value="5">Tiện Ích</option>
        @*     <option  value="6">Góc Báo Chí</option>
            <option  value="7">Thị Trường Lương</option> *@

            @* <option  value="9">Thị Trường - Xu Hướng Tìm Việc</option> *@
        <option value="8">Cẩm nang nghề nghiệp</option>
            @* <option  value="11">Tiện ích</option> *@
          <option  value="12">Kỹ Năng Phỏng Vấn</option>
    </select>
</div>