<div class="col-12 form-group">
<label class="form-label"> @Model.Lable </label>
<textarea class="tinymce-editor" id = "@Model.Name">
   @Html.Raw(Model.Value)
</textarea>
<div class="invalid-feedback-cs">
</div>

</div>