<div class="col-12 form-group">

    <label class="form-label"> @Model.Lable </label>
    <select name="@Model.Name"  class="multipleclass form-control" multiple="multiple"   aria-label="">
         <!-- <option selected value="-1">Tất cả</option> -->

         
        @foreach (var itemData in Model.DataSource)
        {
            var itemcontrol = itemData as dynamic;

        }
    </select>
</div>