<div class="col-12 form-group">

    <label class="form-label"> @Model.Lable </label>
    <select name="CareerId" id="cbAddress" class="form-select" aria-label="">
                <option value="0">Chưa xác thực email</option>
                <option value="1">Cấp độ 1</option>
                <option value="2">Cấp độ 2</option>
                <option value="3">Cấp độ 3</option>
    </select>
</div>