<div class="col-12 form-group">

    <label class="form-label"> @Model.Lable </label>
    <select name="CareerId" id="cbAddress" class="form-select" aria-label="">

    
             <option value="0">Nam</option>
             <option value="1">Nữ</option>
        
    </select>
</div>