@using Topmass.Admin.GlobalData

<section class="section search-form">
    <div class="row">
<form class="row g-3" method="get" action="@Model.NameController">

    @{
        var keywordSearch = new ControlItem()
        {
            Lable = "Từ khoá",
            Name = "token",
            Col_Width = "col-md-6",
            Placeholder = "Tên, vị trí",
            Value = Model.RequestSearch.Token
        };
        var rowFrom = new ControlItem()
        {
            Lable = "Từ ngày",
            Name = "from",
            TypeInputText = "date",
            Col_Width = "col-md-3",
            Placeholder = "",
            Value = Model.RequestSearch.FromText
        };
        var rowTo = new ControlItem()
        {
            Lable = "Đến ngày",
            Name = "to",
            TypeInputText = "date",
            Col_Width = "col-md-3",
            Placeholder = "",
            Value = Model.RequestSearch.ToText
        };
        var dataListCompany = new SelectControl()
        {
            Lable = "Công ty",
            DataSource = Model.DataCompnay as dynamic,
            Name = "cbCompany",
                Col_Width = "col-md-6",
            Value = Model.RequestSearch.CbCompany,
            DisplayAll = true
        };
        var statusControl = new SelectControl()
        {
                Lable = "Trạng thái duyệt",
                Name = "cbstatus",
                Col_Width = "col-md-4",
                DisplayAll  = true,
                Value = Model.RequestSearch.CbStatus,
                DataSource = Constaint.GetListStatusNews()
        };

        var displayStatus = new SelectControl()
        {
            Lable = "Trạng thái hiển thị",
            Name = "cbDisplay",
                Col_Width = "col-md-4",
            Value = Model.RequestSearch.CbDisplay,
            DataSource = Constaint.GetListStatusDisplayNews()
        };

        var timeWayOrderBy = new SelectControl()
        {
            Value = Model.RequestSearch.Orderby,
            Lable = "Sắp xếp theo",
                Col_Width = "col-md-4",
            DataSource = new List<dynamic>()
            {
            new
            {
            id = 0,
            text = "thời gian cập nhật gần nhất"
            },
            new
            {
            id = 1,
            text = "thời gian cập nhật xa nhất"
            }
            },
            Name = "Orderby"
            };
    }
    @{
        Html.RenderPartial(keywordSearch.PathControl, keywordSearch);
        Html.RenderPartial(rowFrom.PathControl, rowFrom);
        Html.RenderPartial(rowTo.PathControl, rowTo);
        Html.RenderPartial(statusControl.PathControl, displayStatus);
        Html.RenderPartial(statusControl.PathControl, statusControl);
        Html.RenderPartial(timeWayOrderBy.PathControl, timeWayOrderBy);
        Html.RenderPartial(dataListCompany.PathControl, dataListCompany);

     }

    <div class="col-md-6" style="display:none">
        <label class="form-label">Limit</label>
        <input type="text" name="limit" value="@Model.RequestSearch.Limit" class="form-control">
    </div>
    <div class="text-end">
        <button type="submit" class="btn btn-primary">Tìm kiếm</button>
    </div>
</form>
    </div>

</section>