@using Topmass.Admin.GlobalData
<section class="section search-form">
    <div class="row">
    <form class="row g-3" method="get" action="@Model.NameController">

         @{
              
                var keywordSearch = new ControlItem()
                {
                    Lable = "Từ khoá",
                    Name = "token",
                    Col_Width = "col-md-6",
                    Placeholder = "",
                    Value = Model.RequestSearch.Token
                };
                Html.RenderPartial(keywordSearch.PathControl, keywordSearch);

         }
        <div class="col-md-6" style="display:none">
        <label class="form-label">Limit</label>
        <input type="text" name="limit" value="@Model.RequestSearch.Limit" class="form-control">
        </div>
        <div class="text-end">
        <button type="submit" class="btn btn-primary">Tìm kiếm</button>
        <a href="/ArticleDetail?Id=-1" class="btn btn-primary" onclick="openFormNewArticle()
        ">Thêm mới</a>
        </div>
    </form>
    </div>

</section>